body{
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color:#61e786;
    margin: 0px;
    padding: 50px 50px;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.text{
    font-size: 50px;
    
}
#btn_container{
    padding: 26px 190px;
    margin: 0px;
    text-align: center;
}
.button{
    padding: 10px 50px;
    margin: 0px;
    cursor: pointer;
    
}
#start{
    background-color:green;
}
#stop{
    background-color: rgb(184, 34, 34);
}
#reset{
    background-color: rgb(174, 109, 234);
}

